:root{
  --div-bg-color: beige;
}
*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
  /* background-color: rgb(28, 28, 121); */
  background-image: url(./background-image.webp);
  height: 100%;
}
h1 {
}
h2 {
  flex-wrap: wrap;
}
section.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
section.about-me {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin-left: 25%;
  justify-content: center;
}
/* section.work is flex container for work divs */

section.work {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 25px;
  row-gap: 10px;
  column-gap: 15px;
  align-items: stretch;
}
section.contact {
  display: flex;
  justify-content: space-evenly;
  border: 2px solid black;
  border-radius: 10px;
  flex-wrap: wrap;
  background-color: var(--div-bg-color);
}
li {
  display: inline;
  padding: 5px;
  margin: 5px;
}
p.work {
  flex-basis: content;
}
div.work {
  flex-wrap: wrap;
  flex-basis: 20%;
  align-content: center;
  border: 2px solid black;
  border-radius: 10px;
  justify-content: center;
  background-color:var(--div-bg-color);
}
div.image {
  border: 1px solid black;
  display: flex;
  background-image: url(./header-background-image.jpg);
  width: 100%;
  justify-content: flex-end;
}

/* div.work1-4 are the flex items */

div.work1 {
  height: 350px;
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  flex-basis: content;
  background-color:var(--div-bg-color);
  padding: 20px;
}
div.work3 {
  height: 350px;
  width: 45%;
  border: 1px solid black;
  border-radius: 10px;
  flex-basis: content;
  background-color:var(--div-bg-color);
  padding: 20px;
  
}
div.work2 {
  height: 350px;
  width: 45%;
  border: 1px solid black;
  border-radius: 10px;
  flex-basis: content;
  background-color:var(--div-bg-color);
  padding: 20px;
}
div.work4 {
  height: 350px;
  width: 45%;
  border: 1px solid black;
  border-radius: 10px;
  flex-basis: content;
  background-color:var(--div-bg-color);
  padding: 20px;
}
div p {
  font-weight: bold;
  padding: 5px;
}
div.name {
  display: inline-flex;
}
img.resume {
  margin: 10px;
  max-width: 300px;
}
a img:hover {
  opacity: 0.6;
}
a img {
  display: inline-flex;
  justify-content: center;
  flex-basis: fit-content;
  width: 300px;
}
img.project {
  width: 20%;
  max-height: 250px;
}