* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img {
  max-width: 300px;
  display: flex;
}
section.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
section.about-me {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  justify-content: center;
  margin-left: 12%;
}
section.work {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 12%;
  width: 75%;
  background-color: aqua;
}
li {
  display: inline;
}
p.work {
  flex-basis: content;
}
div.first-project {
  width:50%;
  display: inline-flex;
}
div {
  flex-wrap: wrap;
  max-width: 43%;
}