* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img {
  max-width: 300px;
  display: flex-wrap;
}
h1  {
  font-size: 35px;
}
h1 a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
h2{
  padding: 10px;
}
section {
  border: 3px solid black;
  margin: 10px;
  display: flex-wrap;
  flex-direction: row;
  max-width: 100%;
  justify-content: center;
}
section p {
  font-weight: bold;
  font-size: large;
  max-width: 25%;
}  
section li a {
  display: flex-wrap;
  align-items: center;
  justify-content: flex-end;
}
section.contact {
  display: inline-flex;
}
li {
  display: inline;
  justify-content: flex-end;
}
body {
  display: inline;
}
div {
  border: 2px solid black;
  margin: 5px;
  max-width: 35%;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}  